In [1]:
library(bigrquery)

In [2]:
# create a connection to the BigQuery project and the data set

projectid<-'radixbi-249015'
datasetid<-'prediction_vendors'
bq_conn <-  dbConnect(bigquery(), 
                      project = projectid,
                      dataset = datasetid, 
                      use_legacy_sql = FALSE
)

# view the list of tables in BigQuery dataset

bigrquery::dbListTables(bq_conn)

[1] "dp_unique"            "godaddy_country_data" "newreg"
[4] "predictions"          "renews"

In [3]:
# Store the project id
projectid = "radix2020"

# Set your query
sql <- "SELECT * FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10"

# Run the query and store the data in a dataframe
df <- query_exec(sql, projectid, use_legacy_sql = FALSE)

# Print the query result
df

Warning message:
“'query_exec' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'run_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'insert_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'wait_for' is deprecated.
Use 'bq_job_wait' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
178.0 megabytes processed

Warning message:
“'list_tabledata' is deprecated.
Use 'bq_table_download' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_table' is deprecated.
Use 'bq_table_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”

   state gender year name      number
1  OH    F      1910 Mary      1099
2  OH    F      1910 Helen      698
3  OH    F      1910 Dorothy    487
4  OH    F      1910 Ruth       457
5  OH    F      1910 Margaret   452
6  OH    F      1910 Mildred    395
7  OH    F      1910 Anna       290
8  OH    F      1910 Florence   278
9  OH    F      1910 Elizabeth  261
10 OH    F      1910 Marie      242

In [4]:
# Store the project id
projectid = "radix2020"

# Set your query
sql <- "SELECT * FROM `radixbi-249015.prediction_vendors.newreg` LIMIT 10"

# Run the query and store the data in a dataframe
df <- query_exec(sql, projectid, use_legacy_sql = FALSE)

# Print the query result
df

Warning message:
“'query_exec' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'run_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'insert_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'wait_for' is deprecated.
Use 'bq_job_wait' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
10.0 megabytes processed

Warning message:
“'list_tabledata' is deprecated.
Use 'bq_table_download' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_table' is deprecated.
Use 'bq_table_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”

   domain_id domain            expiry_date creation_date registrar_userid
1  3175568   hunas.pw          2015-06-09  2014-06-09    H269407
2  3174689   amadie.pw         2015-06-09  2014-06-09    H269407
3  3173882   lada-granta.pw    2015-06-09  2014-06-09    H2440764
4  3174662   epptest118.in.net 2015-06-09  2014-06-09    H4175981
5  3172778   epptest118.in.net 2015-06-09  2014-06-09    H4175981
6  3171266   epptest118.in.net 2015-06-09  2014-06-09    H4175981
7  3174122   oriflame.pw       2015-06-09  2014-06-09    H2445014
8  3184808   shtory.pw         2015-06-09  2014-06-09    H2445014
9  3175106   ewebs.pw          2015-06-09  2014-06-09    H269407
10 3170900   dlj.pw            2015-06-09  2014-06-09    H269407
   ns
1  f1g1ns2.dnspod.net;f1g1ns1.dnspod.net;
2  jinzhiweifa.venus.orderbox-dns.com;jinzhiweifa.mercury.orderbox-dns.com;jinzhiweifa.mars.orderbox-dns.com;jinzhiweifa.earth.orderbox-dns.com;
3  ns1.hosting.reg.ru;ns2.hosting.reg.ru;
4  ns3.example.com;ns4.example.com;ns5.example.com;
5  ns3.example.com;ns4.example.com;ns5.example.com;
6  ns3.example.com;ns4.example.com;ns5.example.com;
7  ns1.wix.com;ns2.wix.com;
8  ns1.easytoweb.ru,ns2.easytoweb.ru
9  ns1.he.net,ns2.he.net,ns3.he.net,ns4.he.net
10 f1g1ns1.dnspod.net,f1g1ns2.dnspod.net
   period amount tld    usdamt ⋯ r_mbg r_centralnic_comm r_icann_comm
1  1      1      pw     1      ⋯ 0      NA                 NA
2  1      1      pw     1      ⋯ 0      NA                 NA
3  1      6      pw     6      ⋯ 0     0.9               0.28
4  1      4      in.net 7      ⋯ 0      NA                 NA
5  1      4      in.net 7      ⋯ 0      NA                 NA
6  1      4      in.net 7      ⋯ 0      NA                 NA
7  1      6      pw     6      ⋯ 0     0.9               0.28
8  1      6      pw     6      ⋯ 0     0.9               0.28
9  1      1      pw     1      ⋯ 0     0.9               0.28
10 1      1      pw     1      ⋯ 0     0.9               0.28
   r_registrar_shortname r_client_shortname r_client_am  r_registrar_country
1  Not Assigned          Not Assigned       Not Assigned NULL
2  Not Assigned          Not Assigned       Not Assigned NULL
3  REG.RU                REG.RU             Varun        Russia
4  Not Assigned          Not Assigned       Not Assigned NULL
5  Not Assigned          Not Assigned       Not Assigned NULL
6  Not Assigned          Not Assigned       Not Assigned NULL
7  Regtime Ltd           Regtime Ltd        Varun        Russia
8  Regtime Ltd           Regtime Ltd        Varun        Russia
9  PDR Ltd               PDR Ltd            Divya        India
10 PDR Ltd               PDR Ltd            Divya        India
   r_client_country r_registrar_am promo_tag
1  NULL             NULL           NA
2  NULL             NULL           NA
3  Russia           Varun          NA
4  NULL             NULL           NA
5  NULL             NULL           NA
6  NULL             NULL           NA
7  Russia           Varun          NA
8  Russia           Varun          NA
9  United States    Divya          NA
10 United States    Divya          NA

In [5]:
# Store the project id
projectid = "radix2020"

# Set your query
sql <- "select * from radix2020.test.iris limit 10"

# Run the query and store the data in a dataframe
df <- query_exec(sql, projectid, use_legacy_sql = FALSE)

# Print the query result
df

Warning message:
“'query_exec' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'run_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'insert_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'wait_for' is deprecated.
Use 'bq_job_wait' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
10.0 megabytes processed

Warning message:
“'list_tabledata' is deprecated.
Use 'bq_table_download' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_table' is deprecated.
Use 'bq_table_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”

   sepal_length sepal_width petal_length petal_width species
1  5.1          2.5         3.0          1.1         versicolor
2  5.0          2.0         3.5          1.0         versicolor
3  5.7          2.6         3.5          1.0         versicolor
4  6.0          2.2         4.0          1.0         versicolor
5  5.8          2.6         4.0          1.2         versicolor
6  5.5          2.3         4.0          1.3         versicolor
7  6.1          2.8         4.0          1.3         versicolor
8  5.5          2.5         4.0          1.3         versicolor
9  6.4          3.2         4.5          1.5         versicolor
10 5.6          3.0         4.5          1.5         versicolor

In [3]:
# Store the project id
projectid = "radix2020"

# Set your query
sql <- "select * from radix2020-test.test.wine limit 10"

# Run the query and store the data in a dataframe
df <- query_exec(sql, projectid, use_legacy_sql = FALSE)

# Print the query result
df

Warning message:
“'query_exec' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'run_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'insert_query_job' is deprecated.
Use 'bq_perform_query' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'wait_for' is deprecated.
Use 'bq_job_wait' instead.
See help("Deprecated") and help("bigrquery-deprecated").”
Warning message:
“'get_job' is deprecated.
Use 'bq_job_meta' instead.
See help("Deprecated") and help("bigrquery-deprecated").”

ERROR: Error: Access Denied: Table radix2020-test:test.wine: User does not have permission to query table radix2020-test:test.wine. [accessDenied]