# Retrain RF on phase1 data but include reg_arpt as predictor

In [1]:
# install.packages("stringdist")

In [1]:
library(dplyr)
library(data.table)
library(partykit)
library(tictoc)
library(caret)
library(e1071)
library(randomForest)
library(ranger)

#for 3d plotting
library(akima)
library(plotly)

# for prep data
library(rPython)
library(stringr)
library(pbapply)
library(stringdist)
library(data.table)

getwd()

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


Loading required package: grid

Loading required package: libcoin

Loading required package: mvtnorm

Loading required package: lattice

Loading required package: ggplot2

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:ggplot2’:

    margin


The following object is masked from ‘package:dplyr’:

    combine



Attaching package: ‘ranger’


The following object is masked from ‘package:randomForest’:

    importance



Attaching package: ‘plotly’


The following object is masked from ‘package:ggplot2’:

    last_plot


The following object is masked from ‘package:stats’:

    filter


The following object is masked from ‘package:graphics’:

    layout


Loading required package: RJSONIO

[1] "/home/jupyter/local/Domains_202003/scripts/phaseII_gcloudaccess"

In [2]:

source('../orig/functions.R')

source('../orig/functions_models.R')

source('functions_eval.R')

# Load data

In [3]:
# ranger_03 trained on train_df_f_sub, a subset (sans leaked vars) of train_df_f which was defined in dtree_play_3.R
# i'm bypassing the creation of date related variables as those are ultimately leaks

train <- readRDS("../../data/train")
train_df <- rbindlist(train)

train_df_f_sub <- subset(train_df, select = c(renewal_status, tld, registrar, reseller, 
                                              reseller_country, region, reg_period, 
                                              sld_type, sld_length, day_domains, gibb_score, 
                                              pattern_domain_count,reg_arpt) ) 
train_df_f_sub <- train_df_f_sub %>%
  mutate_if(sapply(train_df_f_sub, is.character), as.factor)

In [4]:
head(train_df_f_sub)

  renewal_status tld registrar reseller reseller_country region    reg_period
1 Not Renewd     fun gmo       gmo      Japan            Non China 1
2 Renewed        fun gmo       gmo      Japan            Non China 1
3 Not Renewd     fun gmo       gmo      Japan            Non China 1
4 Not Renewd     fun gmo       gmo      Japan            Non China 1
5 Not Renewd     fun gmo       gmo      Japan            Non China 1
6 Renewed        fun gmo       gmo      Japan            Non China 1
  sld_type sld_length day_domains gibb_score pattern_domain_count reg_arpt
1 l        7          32          7.41       1                    8
2 l        4          32          5.29       1                    8
3 l        8          32          9.94       1                    8
4 l        6          32          9.38       1                    8
5 l        6          32          1.99       1                    8
6 l        3          32          0.31       1                    8

In [5]:
dim(train_df_f_sub)

[1] 1559265      13

## count by group to assess data diversity

In [6]:
train_df_f_sub %>% 
    group_by(registrar) %>% 
    tally() %>% 
    arrange(desc(n))

  registrar n
1 namecheap 967254
2 go daddy  340111
3 gmo       251900

In [7]:
train_df_f_sub %>% 
    group_by(tld, registrar) %>% 
    tally() %>% 
    arrange(desc(n))

   tld     registrar n
1  site    namecheap 209076
2  site    gmo       177102
3  online  go daddy  155211
4  online  namecheap 154637
5  pw      namecheap 144846
6  website namecheap 120162
7  space   namecheap  90966
8  host    namecheap  74200
9  fun     namecheap  59852
10 press   namecheap  58724
11 site    go daddy   41158
12 store   go daddy   33115
13 space   go daddy   30956
14 store   namecheap  27943
15 website go daddy   27777
16 tech    namecheap  26390
17 tech    go daddy   21818
18 online  gmo        19710
19 fun     gmo        13868
20 pw      go daddy   13835
21 space   gmo        13667
22 pw      gmo        10363
23 website gmo         9626
24 fun     go daddy    8328
25 host    go daddy    6601
26 tech    gmo         5731
27 press   go daddy    1312
28 press   gmo          919
29 in.net  namecheap    458
30 store   gmo          430
31 host    gmo          296
32 in.net  gmo          188

In [8]:
train_df_f_sub %>% 
    group_by(tld, registrar, reg_arpt) %>% 
    tally() %>% 
    arrange(desc(n))

    tld     registrar reg_arpt n
1   site    gmo       0.1000   172611
2   online  go daddy  0.5000    70812
3   site    namecheap 0.4800    64470
4   pw      namecheap 0.4800    60162
5   site    namecheap 0.4400    55059
6   online  namecheap 0.4800    49726
7   site    namecheap 0.5900    46029
8   pw      namecheap 0.5900    45274
9   online  go daddy  2.5000    37656
10  website namecheap 0.0001    35087
11  online  namecheap 2.4800    35066
12  press   namecheap 0.4400    34956
13  site    go daddy  0.5000    33169
14  online  namecheap 0.5900    32821
15  host    namecheap 0.5900    29807
16  website namecheap 0.4400    27903
17  space   namecheap 0.5900    27864
18  store   go daddy  2.5000    25410
19  website namecheap 0.5900    25207
20  space   namecheap 0.4400    24585
21  pw      namecheap 0.3500    23413
22  website namecheap 0.4800    23330
23  website go daddy  0.5000    22872
24  host    namecheap 0.4800    19379
25  fun     namecheap 0.5700    18720
26  space   go daddy  0.5000    18542
27  online  go daddy  1.5000    17540
28  online  namecheap 0.4400    16066
29  site    namecheap 1.0900    16007
30  space   namecheap 0.4800    14867
⋮   ⋮       ⋮         ⋮        ⋮
553 space   gmo        4.1000  1
554 space   gmo        4.3300  1
555 space   namecheap  0.0001  1
556 space   namecheap  3.3300  1
557 space   namecheap  5.0000  1
558 store   go daddy   0.0001  1
559 store   go daddy  22.0000  1
560 store   namecheap  0.0001  1
561 store   namecheap 10.0000  1
562 store   namecheap 21.0000  1
563 tech    gmo       23.6100  1
564 tech    gmo       23.8300  1
565 tech    gmo       24.2300  1
566 tech    gmo       25.0000  1
567 tech    go daddy  17.8800  1
568 tech    namecheap  4.8200  1
569 tech    namecheap  5.1600  1
570 tech    namecheap  9.0000  1
571 tech    namecheap  9.7500  1
572 tech    namecheap 10.5000  1
573 tech    namecheap 20.9400  1
574 tech    namecheap 27.3300  1
575 tech    namecheap 29.2500  1
576 tech    namecheap 35.0000  1
577 website gmo        0.2700  1
578 website gmo        0.9000  1
579 website gmo        5.0000  1
580 website gmo       10.2700  1
581 website go daddy  10.2700  1
582 website namecheap 10.8300  1

# Retrain Ranger_03

## per the same definitions as in dtree_xl.ipynb, but added reg_arpt as a predictor

In [9]:
names(train_df_f_sub)

 [1] "renewal_status"       "tld"                  "registrar"
 [4] "reseller"             "reseller_country"     "region"
 [7] "reg_period"           "sld_type"             "sld_length"
[10] "day_domains"          "gibb_score"           "pattern_domain_count"
[13] "reg_arpt"

In [10]:
na_df <- train_df_f_sub %>%
  summarise_all(funs(sum(is.na(.))))
t(na_df)

Warning message:
“`funs()` is deprecated as of dplyr 0.8.0.
Please use a list of either functions or lambdas:

  # Simple named list:
  list(mean = mean, median = median)

  # Auto named with `tibble::lst()`:
  tibble::lst(mean, median)

  # Using lambdas
  list(~ mean(., trim = .2), ~ median(., na.rm = TRUE))
This warning is displayed once every 8 hours.
Call `lifecycle::last_warnings()` to see where this warning was generated.”

                     [,1]
renewal_status       0
tld                  0
registrar            0
reseller             0
reseller_country     0
region               0
reg_period           0
sld_type             0
sld_length           0
day_domains          0
gibb_score           0
pattern_domain_count 0
reg_arpt             0

In [11]:
# model fitting: 1088.275 sec elapsed
# model saving: 146.864 sec elapsed


tic("model fitting")

ranger_03_ <- ranger(
    formula         = renewal_status ~ ., 
    data            = train_df_f_sub, 
    importance = 'impurity', 
    num.trees       = 500,
    class.weights = c(3,4),
    probability = TRUE,
    mtry            = 5,
    min.node.size   = 10,
    replace = FALSE,
    sample.fraction = .725,
    seed            = 123
)

toc()

tic("model saving")
save(ranger_03_, file="../../data/output/ranger_03_")
toc()

Growing trees.. Progress: 3%. Estimated remaining time: 16 minutes, 6 seconds.
Growing trees.. Progress: 7%. Estimated remaining time: 13 minutes, 58 seconds.
Growing trees.. Progress: 11%. Estimated remaining time: 13 minutes, 12 seconds.
Growing trees.. Progress: 15%. Estimated remaining time: 12 minutes, 34 seconds.
Growing trees.. Progress: 18%. Estimated remaining time: 12 minutes, 8 seconds.
Growing trees.. Progress: 22%. Estimated remaining time: 11 minutes, 31 seconds.
Growing trees.. Progress: 25%. Estimated remaining time: 11 minutes, 3 seconds.
Growing trees.. Progress: 29%. Estimated remaining time: 10 minutes, 27 seconds.
Growing trees.. Progress: 33%. Estimated remaining time: 9 minutes, 49 seconds.
Growing trees.. Progress: 37%. Estimated remaining time: 9 minutes, 18 seconds.
Growing trees.. Progress: 40%. Estimated remaining time: 8 minutes, 48 seconds.
Growing trees.. Progress: 44%. Estimated remaining time: 8 minutes, 19 seconds.
Growing trees.. Progress: 47%. Estimated remaining time: 7 minutes, 50 seconds.
Growing trees.. Progress: 51%. Estimated remaining time: 7 minutes, 22 seconds.
Growing trees.. Progress: 54%. Estimated remaining time: 6 minutes, 50 seconds.
Growing trees.. Progress: 58%. Estimated remaining time: 6 minutes, 19 seconds.
Growing trees.. Progress: 62%. Estimated remaining time: 5 minutes, 44 seconds.
Growing trees.. Progress: 65%. Estimated remaining time: 5 minutes, 13 seconds.
Growing trees.. Progress: 69%. Estimated remaining time: 4 minutes, 38 seconds.
Growing trees.. Progress: 73%. Estimated remaining time: 4 minutes, 5 seconds.
Growing trees.. Progress: 76%. Estimated remaining time: 3 minutes, 33 seconds.
Growing trees.. Progress: 80%. Estimated remaining time: 2 minutes, 59 seconds.
Growing trees.. Progress: 84%. Estimated remaining time: 2 minutes, 25 seconds.
Growing trees.. Progress: 87%. Estimated remaining time: 1 minute, 52 seconds.
Growing trees.. Progress: 91%. Estimated remaining time: 1 minute, 18 seconds.
Growing trees.. Progress: 95%. Estimated remaining time: 44 seconds.
Growing trees.. Progress: 99%. Estimated remaining time: 10 seconds.
Computing prediction error.. Progress: 40%. Estimated remaining time: 46 seconds.
Computing prediction error.. Progress: 82%. Estimated remaining time: 13 seconds.
model fitting: 1088.275 sec elapsed
model saving: 146.864 sec elapsed

## Predict & Get lift on Phase 1 data

In [12]:

predict_ranger_03_ <- predict(ranger_03_, 
                          data = train_df_f_sub,
                          type="response")$predictions

predict_ranger_03_ <- as.data.frame(predict_ranger_03_)$Renewed

save(predict_ranger_03_, 
     file="../../data/output/predict_ranger_03_")

Predicting.. Progress: 41%. Estimated remaining time: 43 seconds.
Predicting.. Progress: 83%. Estimated remaining time: 12 seconds.
Aggregating predictions.. Progress: 34%. Estimated remaining time: 1 minute, 1 seconds.
Aggregating predictions.. Progress: 67%. Estimated remaining time: 30 seconds.
Aggregating predictions.. Progress: 99%. Estimated remaining time: 0 seconds.

In [13]:
predict_ranger_03_df = data.frame("actual" = train_df_f_sub$renewal_status,
                           "predicted" = predict_ranger_03_)

lift_df_ranger_03_ <- chart_lift(pred_df = predict_ranger_03_df,
                        dep_var = "actual",
                        pred_var = "predicted")

saveRDS(lift_df_ranger_03_, file.path('../../data/output/',"lift_df_ranger_03_"))

gain_ranger_03_ <- plot_gains (lift_df_ranger_03_) 


auc_ranger_03_ <- calc_auc(lift_df_ranger_03_)

In [15]:
lift_df_ranger_03_

   P   actu_renwd2 gain      lift
1  0.1 112766      0.6441011 6.441011
2  0.2 164849      0.9415907 4.707954
3  0.3 174691      0.9978067 3.326022
4  0.4 175013      0.9996459 2.499115
5  0.5 175038      0.9997887 1.999577
6  0.6 175063      0.9999315 1.666552
7  0.7 175075      1.0000000 1.428571
8  0.8 175075      1.0000000 1.250000
9  0.9 175075      1.0000000 1.111111
10 1.0 175075      1.0000000 1.000000

In [14]:
auc_ranger_03_

[1] 0.9082864

## Predict & Get Lift on Expiry Data

In [17]:

expiry_test_prepped_2 <- readRDS("/home/jupyter/local/Domains_202003/data/expiry_test_prepped_2")

expiry_test_df <- rbindlist(expiry_test_prepped_2, fill=TRUE)

In [19]:

ranger_predict_03_expiry <- predict(ranger_03_, 
                          data = expiry_test_df,
                          type="response")$predictions

ranger_predict_03_expiry <- as.data.frame(ranger_predict_03_expiry)$Renewed

save(ranger_predict_03_expiry, 
     file="../../data/output/ranger_predict_03_expiry")

In [20]:
ranger_03_pred_df_expiry = data.frame("actual" = expiry_test_df$renewal_status,
          "predicted" = ranger_predict_03_expiry)

lift_df_ranger_03_expiry <- chart_lift(pred_df = ranger_03_pred_df_expiry,
                        dep_var = "actual",
                        pred_var = "predicted")


gains_plot_ranger_03_expiry <- plot_gains (lift_df_ranger_03_expiry) 

auc_ranger_03_expiry <- calc_auc(lift_df_ranger_03_expiry)

saveRDS(lift_df_ranger_03_expiry, file.path('../../data/output/',"lift_df_ranger_03_expiry"))

In [22]:
lift_df_ranger_03_expiry

   P   actu_renwd2 gain      lift
1  0.1 15115       0.2475921 2.475921
2  0.2 28120       0.4606212 2.303106
3  0.3 39709       0.6504554 2.168185
4  0.4 48024       0.7866597 1.966649
5  0.5 52859       0.8658597 1.731719
6  0.6 55795       0.9139530 1.523255
7  0.7 57949       0.9492367 1.356052
8  0.8 59455       0.9739058 1.217382
9  0.9 60600       0.9926615 1.102957
10 1.0 61048       1.0000000 1.000000

In [23]:
system("gsutil mv /home/jupyter/local/Domains_202003/data/output/* gs://data_outputt/output/")